## Permissions ##
add_ace group.admin command allow # allow all commands

add_principal resource.sandbox-base group.admin

## Different Permissions Types ##
# management
# dev
# admin
# operations

## Permissions ##
add_ace identifier.steam:someId queue.management allow # Name
add_principal identifier.steam:1100001003307c8 group.admin # Darky
add_ace identifier.steam:1100001003307c8 queue.management allow # Darky
